.success {background-color: #4CAF50;}
.info {background-color: #2196F3;}
.warning {background-color: #ff9800;}
.danger{background-color: red;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
